.card{
    width: 30%;
}
.card{
background-color: cornsilk;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:rgb(214, 214, 214); ;
}
img{
    width: 30px
}